#avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.post-img {
  padding: 20px 0px;
}

.post-section {
  border: none;
}

.right-page {
  margin-left: 20px;
}

.pages {
  font-weight: bold;
  text-align: center;
}

.selected {
  color: #222;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 33.33%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .center {
  text-align: center;
}

.PageNavigation .next {
  text-align: right;
}

h3, h4, h5, h6 {
  color: #808080;
}

article {
  margin-top: 1em;
}

@media print, screen and (max-width: 960px) {
  header {
    padding-right: unset;
  }

  iframe {
    max-width: 100%;
  }

  .PageNavigation {
    position: -webkit-sticky;
    margin: 0 0 1.5em 0;
    position: sticky;
    margin-top: 1em;
  }

  .prev {
    text-align: left;
  }

  section {
    border-width: 1px 0 0 0;
    text-align: center;
    margin: auto;
    max-width: 512px;
  }

  #avatar {
    max-width: 256px;
  }
}
