#avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.post-img {
  padding: 20px 0px;
}

.post-section {
  border: none;
}

.right-page {
  margin-left: 20px;
}

.pages {
  font-weight: bold;
  text-align: center;
}

.selected {
  color: #222;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 33.33%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .center {
  text-align: center;
}

.PageNavigation .next {
  text-align: right;
}

@media print, screen and (min-width: 720px) {
  .post-header {
    width: 170px;
  }

  .post-section {
    /*width: 650px;*/
  }
}

@media print, screen and (max-width: 960px) {
  header {
    padding-right: unset;
  }

  #avatar {
    display: none;
  }
}
