#avatar {
  border-radius: 50%;
}

.post-img {
  padding: 20px 0px;
}

.post-section {
  border: none;
}

.right-page {
  margin-left: 20px;
}

.pages {
  font-weight: bold;
  text-align: center;
}

.selected {
  color: #222;
}
