<header>
    {% if site.github.is_project_page %}
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
      <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
    {% elsif page.category == "home" %}
      <img id="avatar" src="/assets/img/avatar.png"/>
      <br/><br/>

      <h2 class="pages">
        <a class="selected" href="{{ site.url }}">home</a>
        <!--<a class="right-page" href="{{ site.url }}{{ '/code/' }}">code</a>-->
        <a class="right-page" href="{{ site.url }}{{ '/blog/' }}">blog</a>
        <a class="right-page" href="{{ site.url }}{{ '/bookshelf/' }}">bookshelf</a>
      </h2>
    {% elsif page.category == "bookblog" %}
      <img id="avatar" src="/assets/img/avatar-code.png"/>
      <br/><br/>
      <h2 class="pages">
        <a href="{{ site.url }}">home</a>
        <!--<a class="right-page selected" href="{{ site.url }}{{ '/code/' }}">code</a>-->
        <a class="right-page" href="{{ site.url }}{{ '/blog/' }}">blog</a>
        <a class="right-page selected" href="{{ site.url }}{{ '/bookshelf/' }}">bookshelf</a>
      </h2>
    {% elsif page.category == "allblog" %}
      <img id="avatar" src="/assets/img/avatar-travel.png"/>
      <br/><br/>
      <h2 class="pages">
        <a href="{{ site.url }}">home</a>
        <!--<a class="right-page" href="{{ site.url }}{{ '/code/' }}">code</a>-->
        <a class="right-page selected" href="{{ site.url }}{{ '/blog/' }}">blog</a>
        <a class="right-page" href="{{ site.url }}{{ '/bookshelf/' }}">bookshelf</a>
      </h2>
    {% endif %}

    {% if site.show_downloads %}
      <ul>
        <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
        <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
      </ul>
    {% endif %}
  </header>
