<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% assign asset_path = "/assets/img/avatar-travel.png" %}
      {% include header.html avatar_path=asset_path %}
      <section>

        <div class="PageNavigation">
          <a class="prev" href="{{page.previous.url}}"><b>
          {% if page.previous.url %}
          &laquo; {{ page.previous.title | truncatewords: 3 }}
          {% endif %}
          </b></a>
          <a class="center" href="{{ '/blog/' }}"><b></b></a>
          {% if page.next.url %}
          <a class="next" href="{{page.next.url}}"><b>{{ page.next.title | truncatewords: 3 }} &raquo;</b></a>
          {% endif %}
        </div>

      <h1 class="no-bottom-margin">{{ page.title }}</h1>
      <h4>{{ page.date | date: '%Y %B %d' }}</h4>
      {{ content }}

      <img id="stamp" style="max-width:48px" src="/assets/img/alexander-seal.jpg"/>
      </section>
      {% include footer.html %}
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    {% include ga.js %}
  </body>
</html>
