<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>{{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/custom.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="post-header">
        {% if page.category == "allblog" %}
        <a href="{{ site.url }}{{ '/blog/' }}">
        <img id="avatar" src="{{ '/img/avatar-travel.png' }}"/>
        {% elsif page.category == "codeblog" or page.category == "bookblog" %}
        <a href="{{ site.url }}{{ '/code/' }}">
        <img id="avatar" src="{{ '/img/avatar-code.png' }}"/>
        {% endif %}
        </a>
      </header>
      <section class="post-section">

        <div class="PageNavigation">
          <a class="prev" href="{{page.previous.url}}"><b>
          {% if page.previous.url %}
          &laquo; {{ page.previous.title | truncatewords: 3 }}
          {% endif %}
          </b></a>
          <a class="center" href="{{ '/blog/' }}"><b>Home</b></a>
          {% if page.next.url %}
          <a class="next" href="{{page.next.url}}"><b>{{ page.next.title | truncatewords: 3 }} &raquo;</b></a>
          {% endif %}
        </div>

      <h3 class="no-bottom-margin">{{ page.date | date: '%Y %B %d' }}</h3>
      <h1>{{ page.title }}</h1>
      {{ content }}

      <img id="stamp" style="max-width:48px" src="/img/alexander-seal.jpg"/>
      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% include ga.js %}
  </body>
</html>
